html {
  background-color: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: 3rem;
  padding: 1rem;
  max-width: 24rem;
}

.forms-table {
  margin-left: 8px;
  margin-right: 8px;
  text-align: left;
  padding: 8px;
  border: 1px solid #03c75a;
  text-decoration: none;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.form-control {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 4px;
  padding: 4px;
}

.form-control label {
  flex-grow: 1;
}

p {
  display: block;
  padding: 4px;
  margin: 4px;
}

label {
  cursor: default;
}

input,
select {
  border: 0;
  padding: 8px;
  margin: 8px;
  border-bottom: 0.125rem solid #f5a623;
  text-align: right;
  color: inherit;
}

button {
  padding: 8px;
  margin: 8px;
}
